<!DOCTYPE html>
<html>
    <head>
        <title> Pong </title>
        <link rel="stylesheet" type="text/css" href="css/pong_style.css">
        <script src="http://localhost:6556/eyetribe.js"></script>
		
    
	</head>
    <body>
        <div id="wrap">
          
            <div id="pong"></div>
        </div>

		<script src="lib/impress.js?version=1.0.0"></script>
		<script src='lib/jquery.js?version=1.0.0'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.js'></script>
		<script src="lib/progressbar.js?version=1.0.0"></script>
		<script src="/lib/video.js"></script>
		<script src="/lib/vjs.youtube.js"></script>
		<script src="http://localhost:6556/eyetribe.js"></script>

		<script src="js/controls.js"></script>
		<script src="js/navigation.js"></script>
		<script src="js/impressInterface.js"></script>
		<script type="text/javascript" src="lib/pong.js"></script>
        <script type="text/javascript" src="js/pong_run.js"></script>
        <script type="text/javascript" src="js/pong_main.js"></script>
        <script type="text/javascript" src="js/controls.js"></script>
    </body>
	
</html>