<!DOCTYPE html>
<html>
    <head>
        <title> Pong </title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/pong_style.css">
        <link rel="stylesheet" type="text/css" href="css/myeplay.css">
        <script src="http://localhost:6556/eyetribe.js"></script>
		
    
	</head>
    <body>
    <div id="menu-activate">
    </div>

        <div id="wrap">    
            <div id="pong"></div>
        </div>

<div class="menu" style="display:none;">
    <button id="play">Play</button>
    <button id="pause">Pause</button>
  </div>
  
   <div class="modal fade" id="menu">
    <div class="modal-dialog modal-margin">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Menu</h4>
            </div><!--header-->
            <div class="modal-body">
              <ul class="list-group">
                <a id="close-button" href="#" class="list-group-item">Resume</a>
                {{!-- <a id="channels-button" href="#" class="list-group-item">Channels</a> --}}
                {{!-- <a id="volume-button" href="#" class="list-group-item">Volume</a> --}}
                <a id="exit-button" href="/index" class="list-group-item">Exit</a>
              </ul>
            </div><!--header-->
            <div class="modal-footer">
            </div><!--footer-->
        </div><!--modal content-->
    </div><!--modal dialog--> 
   </div><!--modal-->

		<script src="lib/impress.js?version=1.0.0"></script>
		<script src='lib/jquery.js?version=1.0.0'></script>
        <script src="/lib/bootstrap.js"></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.js'></script>
		<script src="lib/progressbar.js?version=1.0.0"></script>
		<script src="/lib/video.js"></script>
		<script src="/lib/vjs.youtube.js"></script>
		<script src="http://localhost:6556/eyetribe.js"></script>

		<script src="js/controls.js"></script>
		<script src="js/navigation.js"></script>
		<script src="js/impressInterface.js"></script>
		<script type="text/javascript" src="lib/pong.js"></script>
        <script type="text/javascript" src="js/pong_run.js"></script>
        <script type="text/javascript" src="js/pong_main.js"></script>
        <script type="text/javascript" src="js/controls.js"></script>
    </body>
	
</html>