<!DOCTYPE html>
<html>
    <head>
        <title> Pong </title>
        <link rel="stylesheet" type="text/css" href="css/pong_style.css">
        <script type="text/javascript" src="lib/pong.js"></script>
    </head>
    <body>
        <div id="wrap">
            <h1 id="title"></h1>
            <div id="pong"></div>
        </div>

        <script type="text/javascript" src="js/pong_run.js"></script>
        <script type="text/javascript" src="js/pong_main.js"></script>
        <script type="text/javascript" src="js/controls.js"></script>
    </body>
</html>