<!DOCTYPE html>
<html>
<head>
  <title>Video.js | HTML5 Video Player</title>

  <!-- Chang URLs to wherever Video.js files will be hosted -->
  <link href="css/video-js.css?version=1.0.0" rel="stylesheet" type="text/css">
  <link href="css/myeplay.css?version=1.0.0" rel="stylesheet" type="text/css">
  <link href="css/bootstrap.css?version=1.0.0" rel="stylesheet" type="text/css">
  <!-- video.js must be in the <head> for older IEs to work. -->
  <script src="js/video.js?version=1.0.0"></script>
  <script src="js/vjs.youtube.js"></script>
  <script src="js/jquery.js?version=1.0.0"></script>
  <script src="js/bootstrap.js?version=1.0.0"></script>

  <script src="js/mediaPlayer.js"></script>
  <!-- Unless using the CDN hosted version, update the URL to the Flash SWF -->
</head>
<body>
	<div id="menu-activate"></div>
	
	<video id="video" 
	  class="video-js vjs-default-skin" 
	  autoplay="true"
	  preload="none" 
	  width="100%" 
	  height="600"
		poster=""
	  data-setup='{"techOrder":["youtube"], "src":"http://www.youtube.com/watch?v=xYemnKEKx0c"}'>
  </video>
  
  <div class="menu" style="display:none;">
  	<button id="play">Play</button>
    <button id="pause">Pause</button>
  </div>
  
   <div class="modal fade" id="menu">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
            		<span class="sr-only">Close</span>
            	</button>
            	<h4 class="modal-title">Menu</h4>
            </div><!--header-->
            <div class="modal-body">
			  <ul class="list-group">
			  	<a id="close-button" href="#" class="list-group-item">Close</a>
			  	<a id="channels-button" href="#" class="list-group-item">Channels</a>
			  	<a id="volume-button" href="#" class="list-group-item">Volume</a>
			  	<a id="exit-button" href="/index" class="list-group-item">Exit</a>
			  </ul>
			</div><!--header-->
			<div class="modal-footer">
			</div><!--footer-->
		</div><!--modal content-->
	</div><!--modal dialog--> 
   </div><!--modal-->

   <div class="modal fade" id="volume" style="display: none">
    	<div class="modal-dialog">
       <div class="modal-content">
        <div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
        		<span class="sr-only">Close</span>
        	</button>
        	<h4 class="modal-title">Volume</h4>
        </div><!--header-->
        <div class="modal-body">
				  <ul class="list-group">
				  	<a id="volumeup-button" href="#" class="list-group-item">Volume Up</a>
				  	<a id="volumeback-button" href="#" class="list-group-item">Back</a>
				  	<a id="volumedown-button" href="#" class="list-group-item">Volume Down</a>
	  			</ul>
				</div><!--body-->
				<div class="modal-footer">
				</div><!--footer-->
			</div><!--modal content-->
			</div><!--modal dialog--> 
 	</div><!--modal-->
</body>
</html>
