/*
	Custom css
*/

body{
	background-color: #555555 !important;
}

.menu{
	
	height: 400px;
	background-color: #333333;
	position:  absolute;
	top:  10px;
	left:  40px;
	padding:  20px;
}

.volume{
	height: 400px;
	background-color: #333333;
	position:  absolute;
	top:  10px;
	left:  40px;
	padding:  20px;
}

#menu-activate{
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 50px;
}

.list-group-item{
	height:100px !important;
	text-align: center !important;
	font-size: 50px !important;

}

.modal-margin {
	margin-top: 25%;
	  width: 100%;
}
