html, body {
    height: 100%;
}

body {
    background: #111;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 1000px;
}

#wrap {
    /*position: relative;*/
    top: -60px;
    margin: 0 auto;
}

#pong { margin: 0 auto;}

h1 {
    color: #eee;
    font-size: 32px;
    margin-top: 15px;
    font-weight: normal;
}

